// DELIVERY SECTION
section.delivery-section
	.container.padding-block
		.d-flex.align-items-center.wrapper.flex-wrap
			.text-wrapper.text-center
				.gold-text.title У нас оптимальная стоимость по Киеву и пригороду:
				.pink-text от 300 до 750 грн. за килограмм
				.gold-text Стоимость зависит от сложности оформления и состава торта

			.description-text.
				Опустить стоимость больше мы не можем, так как не готовы применять низкокачественные продукты и очень дорожим своей репутацией. Рекомендуем с осторожностью относиться к кондитерам, которые озвучивают вам более низкие цены.

//