// FAQ 
section.faq-section
	h3.title Вопросы и ответы
	
	// ITEM
	.item-line
		.title-item За сколько дней до даты нужно заказать торт?
		.text-item.
			Заказ принимается минимум за 3 дня до намеченной даты. Срочные заказы "Торт на завтра" возможны при
			условии свободного места и доплаты за срочность в размере 150 грн.
	// ITEM
	.item-line
		.title-item Могу ли я заказать торт с индивидуальным вкусом?
		.text-item.
			Да, конечно же, это возможно. Мы не продаем готовые торты, а изготавливаем их на заказ, по Вашим пожеланиям и с учетом сочетаемости продуктов. Звоните, мы вместе подберем оптимальную начинку
			и согласуем стоимость.
	// ITEM
	.item-line
		.title-item Можно ли заказать у Вас свадебный торт с доставкой на вечер?
		.text-item.
			Безусловно. Кроме того, доставка свадебных тортов у нас бесплатная на любое время. Не забудьте подготовить для заказа текст, который должен быть на торте, а также фото с примерами свадебных тортов, которые вам нравятся.
	// ITEM
	.item-line
		.title-item Можно ли сделать торт по собственному эскизу?
		.text-item.
			Да, оформление торта по индивидуальному макету возможно, для этого нужно просто выслать нам картинку будущего торта и пожелания по составку. Стоимость обсуждается индивидуально.
	// ITEM
	.item-line
		.title-item Вы упаковываете торты и как они перевозятся?
		.text-item.
			Все торты имеют индивидуальную упаковку и перевозятся исключительно в специально приспособленных холодильниках. Мы гарантируем целостность и аккуратность при доставке, Вам не следует переживать.
	// ITEM
	.item-line
		.title-item Можно ли заказать у Вас детский безмолочный торт?
		.text-item.
			Да, возможно приготовить детский безмолочный торт, а также подобрать начинку с учетом возможных аллергий и непереносимости продуктов у деток.
//