// ORDER SECTION
section.order-section
	.container
		h2.title Как заказать торт?

		.information
			.item-line.d-flex.align-items-center.wrapper Доставка по Киеву и пригороду: бесплатно (от 2 кг.)
			.item-line.d-flex.align-items-center.wrapper Возможен заказ торта по Вашему образцу или рецепту
			.item-line.d-flex.align-items-center.wrapper Оплата: наличными или на карту ОщадБанка или ПриватБанка. Предоплата 50%
			.item-line.d-flex.align-items-center.wrapper Заказ следует оформлять не позднее, чем за 3 дня до необходимой даты
			.item-line.d-flex.align-items-center.wrapper Чтобы проконсультироваться или оформить заказ, позвоните или напишите нам:
			
			.wrapper-i.d-flex.align-items-center
				//tel
				.tel-section.d-flex.align-items-center
					.wrapper
						a.tel-wrapper(href="tel:0669752865") (066) 975-28-65
						span.tel-description без выходных с 8:00 до 21:00
						.icon-tel-wrapper
					.clearfix

				// social
				.social-section.d-flex.align-items-center
					a.social-link.inst.d-flex.align-items-center.hvr-grow-shadow(href="https://www.instagram.com/masterskaya__vkusa/", target="_blank")
					a.social-link.faceb.d-flex.align-items-center.hvr-grow-shadow(href="https://www.facebook.com/natalka.zin", target="_blank")

				// buy btn
				.btn-section
					button.btn-popup.hvr-grow-shadow(onclick="location.href = '/order'") СДЕЛАТЬ ЗАКАЗ
//