// POPUP 
.popup-wrapper.d-flex.justify-content-center.align-items-center.hidden
	.wrapp
		.popup-window
			.close-btn
				.after
			.title Оформление заказа на торт

			form(action="")
				.container-fluid
					.row
						.col-6.col-xs-12
							.input-group.flex-wrap.width-50
								label Как Вас зовут:
								input(type="text", name="name").width-50
						.col-6.col-xs-12
							.input-group.flex-wrap.float-right.width-50
								label Ваш контактный телефон: *
								input(type="tel", name="tel").width-50
					.row
						.col-12
							.input-group.flex-wrap
								label Комментарий:
								textarea(name="comment")
					.row
						.col-12
							.input-group.flex-wrap
								label Куда нужно доставить торт (адрес доставки)?
								input(type="text", name="address")
					.row
						.col-12
							.input-group.flex-wrap.item-210
								label Вес торта: 
									span (если уже знаете)
								input(type="text", name="ves")
							.input-group.flex-wrap.item-210-next
								label Есть ли пожелания по составу торта?: 
								input(type="text", name="sostav")
					.row
						.col-12
							.input-group.flex-wrap.w-600
								label Хотите приложить фото с примером?
								.load-btn ЗАГРУЗИТЬ ФОТО
									input(type="file", multiple)
								//- .prev-load
								//- 	img(src="images/p.png", alt="")
								//- .prev-load
								//- 	img(src="images/p.png", alt="")
								//- .prev-load
								//- 	img(src="images/p.png", alt="")
							.input-group.flex-wrap.w-2
								label Желаемая дата доставки:
								input(type="text", name="date")

						.bottom-section-popup
							button.btn-popup.hvr-grow СДЕЛАТЬ ЗАКАЗ