// products section
.container

	.products-section

		.product-column
			// ITEM
			.product-item.product_1
				img(src="images/products/product_1.jpg", alt="Торт для мальчика")
				.wrapper-information
					.title-product Торт для мальчика "МИМИШКИ"
					.text-product.
						Нежный бисквит на основе натурального йогурта, сливочным кремом и свежими ягодами клубники и малины.
					.price-product от 400 грн/кг

		.product-column

			// ITEM
			.product-item.product_2
				img(src="images/products/product_2.jpg", alt="Торт юбиляру")
				.wrapper-information
					.title-product Торт юбиляру "Истории жизни"
					.text-product.
						Пряный морковный бисквит по-американски с орехами, корицей, кремом из сливочного сыра и сливок и ежевикой.
					.price-product от 450 грн/кг
			// ITEM
			.product-item.product_2
				img(src="images/products/product_3.jpg", alt="Торт для мальчика")
				.wrapper-information
					.title-product Торт с какао для кладоискателя
					.text-product.
						Шоколадный бисквит на основе натурального какао с нежным сливочно-карамельным кремом и грильяж с карамелью.
					.price-product от 380 грн/кг

		.product-column
			// ITEM
			.product-item.product_1
				img(src="images/products/product_4.jpg", alt="Детский торт")
				.wrapper-information
					.title-product Детский торт "Винни и друзья"
					.text-product.
						Бисквит готовится на пару с нежным французким кремом "Патисьер" с добавлением  натуральных сливок и ягод.
					.price-product от 450 грн/кг

		.product-column
			// ITEM
			.product-item.product_2
				img(src="images/products/product_5.jpg", alt="Весенний свадебный торт")
				.wrapper-information
					.title-product Весенний свадебный торт
					.text-product.
						Ванильный бисквит со сливочным крем-сыром, кусочками свежей клубники и клубничным конфи. Декор: сахарные цветы
					.price-product 250-320 грн/кг
		.product-column
			// ITEM
			.product-item.product_2
				img(src="images/products/product_6.jpg", alt="Торт на юбилей")
				.wrapper-information
					.title-product Торт на юбилей "Букет для мамы"
					.text-product.
						Ванильный бисквит, приготовленный на пару. Сливочный крем на основе Филадельфии и свежая малина. Декор: живые цветы
					.price-product от 400 грн/кг
		.product-column
			// ITEM
			.product-item.product_2
				img(src="images/products/product_6.jpg", alt="Торт на юбилей")
				.wrapper-information
					.title-product Cake Smash / Первый тортик
					.text-product.
						Нежный ванильный бисквит со сливочным крем-сыром и слайсами сладкого свежего банана. Мастика, сливочный крем.
					.price-product от 350 грн/кг

		.clearfix

//