// products section
.container
	.arrow-slide.d-block.left.disabled(onclick="slide('products', 'prev', this)")
	.products-section
		.d-flex.wrapper-product
			.product-column.active
				// ITEM
				.product-item.product_1
					img(src="images/products/product_1.jpg", alt="Торт для мальчика")
					.wrapper-information
						.title-product Торт для мальчика "МИМИШКИ"
						.text-product.
							Нежный бисквит на основе натурального йогурта, сливочным кремом и свежими ягодами клубники и малины.
						.price-product от 400 грн/кг

			.product-column

				.product-item.product_1
					img(src="images/products/product_1.jpg", alt="Торт для мальчика")
					.wrapper-information
						.title-product Торт для мальчика "МИМИШКИ"
						.text-product.
							Нежный бисквит на основе натурального йогурта, сливочным кремом и свежими ягодами клубники и малины.
						.price-product от 400 грн/кг

			.product-column
				// ITEM
				.product-item.product_1
					img(src="images/products/product_4.jpg", alt="Детский торт")
					.wrapper-information
						.title-product Детский торт "Винни и друзья"
						.text-product.
							Бисквит готовится на пару с нежным французким кремом "Патисьер" с добавлением  натуральных сливок и ягод.
						.price-product от 450 грн/кг

			.product-column
				// ITEM
				.product-item
					img(src="images/products/product_1.jpg", alt="Весенний свадебный торт")
					.wrapper-information
						.title-product Весенний свадебный торт
						.text-product.
							Ванильный бисквит со сливочным крем-сыром, кусочками свежей клубники и клубничным конфи. Декор: сахарные цветы
						.price-product 250-320 грн/кг
			.product-column
				// ITEM
				.product-item
					img(src="images/products/product_1.jpg", alt="Торт на юбилей")
					.wrapper-information
						.title-product Торт на юбилей "Букет для мамы"
						.text-product.
							Ванильный бисквит, приготовленный на пару. Сливочный крем на основе Филадельфии и свежая малина. Декор: живые цветы
						.price-product от 400 грн/кг
			.product-column
				// ITEM
				.product-item
					img(src="images/products/product_1.jpg", alt="Торт на юбилей")
					.wrapper-information
						.title-product Cake Smash / Первый тортик
						.text-product.
							Нежный ванильный бисквит со сливочным крем-сыром и слайсами сладкого свежего банана. Мастика, сливочный крем.
						.price-product от 350 грн/кг

		.clearfix
	.arrow-slide.d-block.right(onclick="slide('products', 'next', this)")
//