// SLIDER SECION
section.slider-section.text-center(style="background-image: url(images/background-top.jpg);")
	.container
		.title-section Самые вкусные торты<br>
			span.mini-information на заказ в Киеве

		.advantages
//
