// USERS SECTION 
section.users-section.d-flex.align-items-center
	.container
		.arrow-slide.left.disabled(onclick="slide('feed', 'prev', this)")
		
		.user-wrapper.d-flex.justify-content-center

			.user-item.active
				.user-photo
					img(src="images/users/1.png", alt="Катюшенька")
				.user-message
					.name Катюшенька
					.text.
						Наташенька, огромное спасибо за такие приятные сюрпризы-пожелания, за то, что дарите ощущение праздника, а какие они вкусные, каждый с разной начинкой, мммм.... сыночек оценил!

			.user-item
				.user-photo
					img(src="images/users/3.png", alt="Ольга")
				.user-message
					.name Ольга
					.text.
						Дякуємо за таке доповнення нашого свята!!! Торт, капкейки та кейк-попси на вищому рівні)) Гості в захваті)) Все дуже смачне

			.user-item.not-margin
				.user-photo
					img(src="images/users/2.png", alt="Мария")
				.user-message
					.name Мария
					.text.
						Торт был ОЧЕНЬ вкусный!!! Я случайно съела порцию своего ребёнка))) пришлось соврать, что фея голодная прилетала)))

			.clearfix
		.arrow-slide.right(onclick="slide('feed', 'next', this)")
//