/* HEADER */
header {
	height: 168px;
	background: $white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	@include transition(all 0.4s);
	@include box-shadow(0px 0px 7px 0px rgba(0,0,0,0));
	@media (max-width: 1879px) {
		height: 130px;
	}
	@media (max-width: 1039px) {
		height: 120px;
		position: static;
	}

	
	.header-menu {
		height: 100%;
		padding: 0px 30px;

		@media (max-width: 1039px) {
			// -webkit-flex-wrap: wrap!important;
			// -ms-flex-wrap: wrap!important;
			// flex-wrap: wrap!important;
		    display: block !important;
			padding: 0px;
		}

		.logo-section{
			width: 635px;
			@media (max-width: 1879px) {
				width: 440px;
			}
			@media (max-width: 1039px) {
				width: 86px;
			    float: left;
		        padding-top: 3px;
			}

			
			.logo-wrapper {
				display: inline-block;
				margin-right: 13px;
				height: 134px;
				@include transition(all 0.4s);
				
				@media (max-width: 1879px) {
					height: 90%;
				}
	
				@media (max-width: 1039px) {
					margin-right: 11px;
				}
				
				img {
					max-height: 100%;
					@include transition(all 0.4s);				
				}
			}
			
			.logo-description-wrapper {
				display: inline-block;
				font-family: $robotoS;
				font-weight: normal;
				font-size: 18px;
				font-style: normal;
				color: $c2;
				letter-spacing: 1px;
				@include transition(all 0.4s);

				@media (max-width: 1039px) {
					display: none !important;
				}			
			}

		}

		/* tel */
		.tel-section {
			width: 356px;
			margin-right: 58px;
			@media (max-width: 1879px) {
				width: 372px;
			    margin-right: 160px;
			}
			@media (max-width: 1039px) {
			    width: calc(100% - 86px);
			    margin: 0px;
			    float: right;
			    margin-top: 10px;
			    margin-bottom: 5px;
			}

			.wrapper {
				// width: calc(100% - 100px);
				position: relative;
			}
			
			.icon-tel-wrapper {
				width: 48px;
				height: 48px;
				display: inline-block;
				background: url(../../images/icons/phone_icon.png) no-repeat center;
				margin-right: 10px;
				vertical-align: middle;
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				box-shadow: 0 0 1px transparent;
				-webkit-transition-duration: .3s;
				transition-duration: .3s;
				-webkit-transition-property: box-shadow,transform;
				transition-property: box-shadow,transform;
				@include border-radius(50%);
				position: absolute;
				left: 0;
				top: 0;

				@media (max-width: 1039px) {
					width: 35px;
					height: 35px;
				    background-size: cover;
				}

			}

			.tel-wrapper {
				font-family: $roboto;
				font-weight: normal;
				font-style: normal;
				font-size: 36px;
				color: $c1;
				line-height: 40px;
				cursor: pointer;
				text-decoration: none;
				padding-left: 58px;

				@media (max-width: 1039px) {
					padding-left: 40px;
					position: relative;
					top: -2px;
				    width: 100%;
    				font-size: 24px;
				}
				
				&:hover ~ .icon-tel-wrapper {
					box-shadow: 0 10px 10px -10px rgba(0,0,0,.5);
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			
			.tel-description {
				display: inline-block;
				width: 100%;
				text-align: center;
				clear: both;
				font-family: $roboto;
				font-weight: normal;
				font-style: normal;
				font-size: 16px;
				color: $c2;

				@media (max-width: 1039px) {
					display: none !important;
				}
			}

		}

		/* social */
		.social-section {
			margin-right: 80px;
			
			@media (max-width: 1879px) {
				display: none !important;
			}

			.social-link {
				margin-right: 45px;
				position: relative;

				> a {
					color: $c2;
					font-family: $roboto;
					font-weight: normal;
					font-style: normal;
					font-size: 19px;
					text-decoration: none;
					border-bottom: 1px solid $c2;
				    line-height: 16px;
	
					&:hover {
						border-color: transparent;
						
						& ~ .before {
							box-shadow: 0 10px 10px -10px rgba(0,0,0,.5);
							-webkit-transform: scale(1.1);
							transform: scale(1.1);
						}
					}
				}

				.before {
					display: inline-block;
					width: 48px;
					height: 48px;
					margin-right: 15px;
					vertical-align: middle;
					-webkit-transform: perspective(1px) translateZ(0);
					transform: perspective(1px) translateZ(0);
					box-shadow: 0 0 1px transparent;
					-webkit-transition-duration: .3s;
					transition-duration: .3s;
					-webkit-transition-property: box-shadow,transform;
					transition-property: box-shadow,transform;
					@include border-radius(50%);
					
					&.inst {
						background: url(../../images/icons/instagramm_icon.png) no-repeat center;
					}

					&.faceb {
						background: url(../../images/icons/facebook_icon.png) no-repeat center;
					}
				}
			
			}

		}
		
		/* buy btn */
		.btn-section {
			@media (max-width: 1039px) {
				width: calc(100% - 86px);
				text-align: right;
				float: right;
			}

			.btn-popup {
				width: 225px;
				height: 58px;
				color: $white;
				font-family: $roboto;
				font-size: 22px;
				font-weight: normal;
				font-style: normal;
				background: #c87d9e;
				border: none;
				@include border-radius(26px);
				border-bottom: 7px solid #ab5d7f;
				outline: none;
				box-shadow: none;
				cursor: pointer;
				text-shadow: -1px 2px 0px rgba(151, 74, 108, 0.75);
				@include transition(all 0.4s);

				&:hover {
					background: #b36286;
					border-color: #904666;
				}

				@media (max-width: 1039px) {
				    font-size: 15px;
					width: 190px;
					height: 42px;
				}
			}

		}

	}

	@media (min-width: 1040px) {

		&.scroll {
			height: 110px;
			@include box-shadow(0px 0px 7px 0px rgba(0,0,0,0.75));
			
			@media (max-width: 1879px) {
				height: 90px;
			}
			
			.header-menu {
			
				.logo-section {

					.logo-wrapper {
						height: 90%;
						
						img {
							max-height: 100%;
						}
					}

					.logo-description-wrapper {
						font-size: 15px;
						@media (max-width: 1879px) {
							font-size: 13px;
						}
					}
				
				}
				
			}
		}

		&.hide {
			top: -110px;
			@media (max-width: 1879px) {
				top: -90px;
			}
		}
	}

}
