/* ingredients section */
.ingredients-section {
	width: 930px;
	float: right;
	margin-top: 20px;
	padding-bottom: 55px;

	@media (max-width: 1879px) {
		width: 100%;
		padding-bottom: 20px;
	}
	
	.title {
		font-size: 48px;
		color: $c1;
		text-align: center;
		line-height: 48px;
		font-family: $ad;
		font-weight: normal;
		font-style: normal;
		margin-bottom: 10px;
		
		@media (max-width: 1039px) {
			font-size: 28px;
			line-height: 28px;
		}
	}

	.description {
		margin-top: 0px;
		font-family: $roboto;
		font-weight: normal;
		font-style: normal;
		font-size: 20px;
		color: $c2;
		text-align: center;
		line-height: 30px;

		@media (max-width: 1039px) {
			line-height: 16px;
			font-size: 13px;
		}
	}

	.item-container {
		margin-top: 65px;

		@media (max-width: 1039px) {
			margin-top: 30px;
		    margin-bottom: 30px;
		}
		
		.item-row {
			width: 100%;
			display: flex;
    		flex-wrap: wrap;
    
			.item{
				flex: 0 0 25%;
	    		max-width: 25%;
    		    position: relative;
				width: 100%;
				margin-bottom: 65px;

				@media (max-width: 1039px) {
					display: none;

					&.active {
						display: block;
						max-width: 85%;
						margin: auto;
					}
				}

				.image-wrapper {
					width: 180px;
					height: 180px;
					margin: auto;
					margin-bottom: 20px;
	
					@media (max-width: 1039px) {
						margin-bottom: 10px;
					}

				}

				.text-wrapper {
					text-align: center;
					font-size: 17px;
					color: $c2;
					font-family: $roboto;
					font-weight: normal;
					font-style: normal;

					@media (max-width: 1039px) {
						font-size: 13px;
					}
				}

			}

		}

	}

}