/* ORDER SECTION */
.order-section {
	background: url(../../images/order-section.png) no-repeat center top;
	padding-top: 70px;
	padding-bottom: 70px;
	
	.title {
		font-size: 48px;
		color: $c1;
		text-align: center;
		line-height: 48px;
		font-family: $ad;
		font-weight: normal;
		font-style: normal;
	}
	
	.information {
		background: rgba(255,255,255,0.8);
		border: 3px solid #cae5eb;
		padding-top: 50px;
		padding-left: 62px;
		padding-right: 62px;
		padding-bottom: 45px;
		max-width: 1000px;
		margin: auto;
		margin-top: 25px;
		
		.item-line {
			font-family: $roboto;
			font-size: 21px;
			font-weight: normal;
			font-style: normal;
			color: $c2;
			line-height: 48px;
			
			&::before {
				content: '';
				display: inline-block;
				width: 24px;
				height: 24px;
				background: url(../../images/item-line-oreder.png) no-repeat center;
				margin-right: 15px;
			}
		}
		
		> .wrapper-i {
			margin-top: 20px;
		}
		
		/* tel */
		.tel-section {
			width: 356px;
			margin-right: 58px;

			.wrapper {
				// width: calc(100% - 100px);
				position: relative;
			}
			
			.icon-tel-wrapper {
				width: 48px;
				height: 48px;
				display: inline-block;
				background: url(../../images/icons/phone_icon.png) no-repeat center;
				margin-right: 10px;
				vertical-align: middle;
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				box-shadow: 0 0 1px transparent;
				-webkit-transition-duration: .3s;
				transition-duration: .3s;
				-webkit-transition-property: box-shadow,transform;
				transition-property: box-shadow,transform;
				@include border-radius(50%);
				position: absolute;
				left: 0;
				top: 0;
			}

			.tel-wrapper {
				font-family: $roboto;
				font-weight: normal;
				font-style: normal;
				font-size: 36px;
				color: $c1;
				line-height: 40px;
				cursor: pointer;
				text-decoration: none;
				padding-left: 58px;
				
				&:hover ~ .icon-tel-wrapper {
					box-shadow: 0 10px 10px -10px rgba(0,0,0,.5);
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			
			.tel-description {
				display: inline-block;
				width: 100%;
				text-align: center;
				clear: both;
				font-family: $roboto;
				font-weight: normal;
				font-style: normal;
				font-size: 16px;
				color: $c2;
			}

		}

		/* social */
		.social-section {
			width: 118px;
			margin-right: 112px;
			
			.social-link {
				font-family: $roboto;
				font-weight: normal;
				font-style: normal;
				font-size: 19px;
				color: $c2;
				margin-right: 20px;
				text-decoration: none;
				@include border-radius(50%);
				
				&:last-child {
					margin-right: 0px;
				}

				&::before {
					content: '';
					display: inline-block;
					width: 48px;
					height: 48px;
				}
				
				&.inst {
					&::before {
						background: url(../../images/icons/instagramm_icon.png) no-repeat center;
					}
				}

				&.faceb {
					&::before {
						background: url(../../images/icons/facebook_icon.png) no-repeat center;
					}
				}
			
			}

		}
		
		/* buy btn */
		.btn-section {
			
			.btn-popup {
				width: 225px;
				height: 58px;
				color: $white;
				font-family: $roboto;
				font-size: 22px;
				font-weight: normal;
				font-style: normal;
				background: #c87d9e;
				border: none;
				@include border-radius(26px);
				border-bottom: 7px solid #ab5d7f;
				outline: none;
				box-shadow: none;
				cursor: pointer;
				text-shadow: -1px 2px 0px rgba(151, 74, 108, 0.75);
				@include transition(all 0.4s);

				&:hover {
					background: #b36286;
					border-color: #904666;
				}
			}
		}
	}
}