* {
	outline: none;
}
.thanks-text {
    height: 80%;
    
    h1 {
		font-family: Roboto,sans-serif;
	    font-weight: 400;
	    font-style: normal;
	    font-size: 36px;
	    color: #4dbfc0;
	    line-height: 40px;
	    cursor: pointer;
	    text-decoration: none;
    }
    p {
		color: #9a7e55;
		font-family: Roboto,sans-serif;
		font-weight: 400;
		font-style: normal;
    }
}

body {
	padding-top: 168px;

	@media (max-width: 1879px) {
		padding-top: 130px;
	}
	@media (max-width: 1039px) {
		padding-top: 0px;
	}
}
.container {
	min-width: 1880px;
	
	@media (max-width: 1900px) and (min-width: 1880px) {
		min-width: 1860px;
	}
	@media (max-width: 1879px) and (min-width: 1040px) {
		min-width: 1024px;
	}
	@media (max-width: 1039px) {
		min-width: 320px;
		width: 320px;
	}

}

.last-section-wrapper {
	background: url(../../images/bg-last-section.png) no-repeat center bottom;
}