/* USERS SECTION */
.users-section {
	height: 316px;
	background: #fbf4f1;

	@media (max-width: 1039px) {
		height: 230px;
	    margin-bottom: 30px;
		
		> .container {
			position: relative;
		}
	}

	.user-wrapper{

		.user-item {
			width: 391px;
			float: left;
			margin-right: 35px;

			@media (max-width: 1039px) {
				display: none;
			    margin: 0;
		        max-width: 85%;

				&.active {
					display: block;
				}
			}

			&:last-child,
			&.not-margin {
				margin-right: 0px;
			}

			@media (max-width: 1879px) and (min-width: 1040px) {
				margin-right: 55px;
			}
			
			.user-photo {
				width: 100px;
				height: 100px;
				margin-right: 10px;
				float: left;

				@media (max-width: 1039px) {
					width: 70px;
					height: 70px;

					img {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}

			.user-message {
				width: calc(100% - 120px);
    			float: left;

				@media (max-width: 1039px) {
					width: calc(100% - 90px);
    			}

				.name {
					font-size: 20px;
					font-family: $roboto;
					font-weight: normal;
					font-style: normal;
					color: #9a7e55;
					line-height: 18px;
					margin-bottom: 12px;
				}

				@media (max-width: 1039px) {
					font-size: 16px;
				}

				.text {
					font-size: 15px;
					font-family: $roboto;
					font-weight: normal;
					font-style: italic;
					color: #938776;
					line-height: 18px;
	
					@media (max-width: 1039px) {
						font-size: 12px;
					}

				}

			}

		}

	}

}