-var active_menu = 'Главная';

html(lang='ru')
	include include/common/head
	body
		include include/common/header


		include include/slider-section
		include include/delivery-section
		include include/products-section
		include include/users-section
