html(lang='ru')
	include include/common/head
	body
		include include/common/header
	
		.thanks-text.item-line.d-flex.align-items-center.flex-wrap
			.container.text-center
				h1 Спасибо! 
				p Мы получили вашу заявку и скоро Вам перезвоним, чтобы согласовать детали

		include include/common/footer
