// FOOTER 
footer
	.container
		.header-menu.d-flex.align-items-center

			// logo
			.logo-section.d-flex.align-items-center
				.logo-wrapper
					img(src="images/logo.png", alt="мастерская вкуса")
				.logo-description-wrapper
					|Домашняя<br>кондитерская

			//tel
			.tel-section.d-flex.align-items-center
				.wrapper
					a.tel-wrapper(href="tel:0669752865") (066) 975-28-65
					span.tel-description без выходных с 8:00 до 21:00
					.icon-tel-wrapper
				.clearfix

			// social
			.social-section.d-flex.align-items-center
				span.social-link.d-flex.align-items-center.flex-row-reverse
					a(href="https://www.instagram.com/masterskaya__vkusa/", target="_blank") Instagram
					.before.inst
				.social-link.d-flex.align-items-center.flex-row-reverse
					a(href="https://www.facebook.com/natalka.zin", target="_blank") Facebook
					.before.faceb
			// buy btn
			.btn-section
				button.btn-popup.hvr-grow(onclick="location.href = '/order'") СДЕЛАТЬ ЗАКАЗ
// *FOOTER* 
script(async, src='js/wow.js')
script(src='js/jquery.mousewheel.min.js')
script(async, src='js/jquery.jscrollpane.js')
script(async, src='js/main.js')