// FOOTER 
footer
	.container
		.row
			.col-md-4.col-sm-4.col-4.d-flex.copyright-wrapper
				p.copyright
					|Разработано в &nbsp
					a(href="https://lauer.agency/", target="_blank") Lauer
					br
					|2017©Ortodonts.ru

			.col-md-4.col-sm-4.col-4.text-center.d-flex.flex-nowrap.justify-content-center
				.d-flex.flex-nowrap.justify-content-center
					a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#").vk
						i.fa.fa-vk.faa-pulse
					a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#")
						i.fa.fa-twitter.faa-tada
					a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#")
						i.fa.fa-instagram.faa-pulse

			.col-md-4.col-sm-4.col-4.contacts-footer.d-flex.align-items-end.flex-column
				div
					a(href="tel:+74959702078", target="_blank") +7 (495) 970-20-78
				div
					a(href="tel:+74959702078", target="_blank") +7 (985) 970-20-78
			
			.col-md-4.col-sm-4.col-4.d-flex.copyright-wrapper.mobile
				p.copyright
					|Разработано в &nbsp
					a(href="https://lauer.agency/", target="_blank") Lauer
					br
					|2017©Ortodonts.ru
// *FOOTER* 

script(src='js/main.js')