// HEADER 
header
	.container
		
		.header-menu.d-flex.align-items-center

			// logo
			.logo-section.d-flex.align-items-center
				.logo-wrapper
					img(src="images/logo.png", alt="мастерская вкуса")
				.logo-description-wrapper
					|Домашняя<br>кондитерская

			// tel
			.tel-section.d-flex.align-items-center
				.icon-tel-wrapper.float-left
				.float-left.wrapper
					a.tel-wrapper(href="tel:0669752865") (066) 975-28-65
					span.tel-description без выходных с 8:00 до 21:00
				.clearfix

			// social
			.social-section.d-flex.align-items-center
				a.social-link.inst.d-flex.align-items-center(href="https://www.instagram.com/masterskaya__vkusa/", target="_blank")
					span Instagram
				a.social-link.faceb.d-flex.align-items-center(href="https://www.facebook.com/natalka.zin", target="_blank")
					span Facebook

			// buy btn
			.btn-section
				button.btn-popup.hvr-grow СДЕЛАТЬ ЗАКАЗ

// *HEADER* 