head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv='language', content='RU')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

	link(rel="icon", type="image/png", href="images/favicon.png")

	title Самые вкусные торты на заказ – Мастерская Вкуса (Киев)
	meta(name='description', content='Мы делаем торты и капкейки на заказ с уникальным дизайном по Вашим пожеланиям. Бесплатно доставим по Киеву и пригороду. Заказывайте!')

	link(rel='stylesheet', href='styles/css/main.min.css')

	<!-- Global site tag (gtag.js) - Google Analytics -->
	script(async src="https://www.googletagmanager.com/gtag/js?id=UA-108822248-1")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-108822248-1');

	script(src='js/jquery.min.js')
	script(async, src='js/tether.min.js')
	script(async, src='js/bootstrap.min.js')